<%= render 'layouts/header' %>

<div class="zoom-gallery" id="zoom-instance-1">

  <img src="assets/preloader.gif" class="preloader" width="55" height="18" alt="preloader" />

  <ul>

    <li title="assets/mainApp.jpg">
      <ul class="align-left">
      </ul>
    </li>

    <li title="assets/vibeApp.jpg">
      <ul class="align-left">
        <li class="20x10" style="background-color: #FFFFFF; color: #000000">Vibe</li>
        <li class="20x65" style="background-color: #000000; color: #FFFFFF">stream music based on your mood</li>
      </ul>
    </li>

    <li title="assets/lingoApp.jpg">
      <ul class="align-right" title="http://codecanyon.net/user/CodingJack">
        <li class="20x251" style="background-color: #FFFFFF; color: #000000">Lingo</li>
        <li class="20x305" style="background-color: #000000; color: #FFFFFF">define and share your own words</li>
        </ul>
    </li>

    <li title="assets/makerApp.jpg">
      <ul class="align-left">
        <li class="20x241" style="background-color: #FFFFFF; color: #000000">Meet Your Maker</li>
        <!-- An example with a text link, any text field can be hyperlinked -->
        <li class="20x296" style="background-color: #000000; color: #FFFFFF"><a href="http://codecanyon.net/user/CodingJack" target="_blank">Life expectancy application</a></li>
        </ul>
    </li>

  </ul>

  <!-- If JavaScript is disabled, we'll just display the first image -->
  <noscript>
      <div id="noscript">
        <img src="img/showcase/1.jpg" width="565" height="377" alt="jQuery Banner Rotator" />
      </div>
  </noscript>

</div>

<%= render 'layouts/footer' %>
