<%= render 'layouts/header' %>

<div class="zoom-gallery" id="zoom-instance-1">

  <img src="assets/preloader.gif" class="preloader" width="55" height="18" alt="preloader" />

  <ul>

    <li title="assets/1.jpg">
      <ul class="align-left" title="http://codecanyon.net/user/CodingJack">
        <li class="20x20" style="background-color: #FFFFFF; color: #000000">ZoomShowcase Banner</li>
        <li class="20x75" style="background-color: #000000; color: #FFFFFF">Make an Impression</li>
      </ul>
    </li>

    <li title="assets/2.jpg">
      <ul class="align-left">
        <li class="20x20" style="background-color: #FFFFFF; color: #000000">Dazzle your Customers with</li>
        <li class="20x75" style="background-color: #000000; color: #FFFFFF">this unique jQuery Banner</li>
      </ul>
    </li>

    <li title="assets/3.jpg">
      <ul class="align-right" title="http://codecanyon.net/user/CodingJack">
        <li class="20x176" style="background-color: #FFFFFF; color: #000000">Easy to Customize</li>
        <li class="20x231" style="background-color: #000000; color: #FFFFFF">Video Tutorials Included</li>
        </ul>
    </li>

    <li title="assets/4.jpg">
      <ul class="align-right">
        <li class="20x20" style="background-color: #FFFFFF; color: #000000">Brand New Banner From CodingJack</li>
        <!-- An example with a text link, any text field can be hyperlinked -->
        <li class="20x75" style="background-color: #000000; color: #FFFFFF"><a href="http://codecanyon.net/user/CodingJack" target="_blank">Click Here to View Portfolio</a></li>
        </ul>
    </li>

    <li title="assets/5.jpg">
      <ul class="align-left">
        <li class="20x253" style="background-color: #FFFFFF; color: #000000">Several Options Included</li>
        <li class="20x308" style="background-color: #000000; color: #FFFFFF">Autoplay, Randomize, and more</li>
        </ul>
    </li>

  </ul>

  <!-- If JavaScript is disabled, we'll just display the first image -->
  <noscript>
      <div id="noscript">
        <img src="img/showcase/1.jpg" width="565" height="377" alt="jQuery Banner Rotator" />
      </div>
  </noscript>

</div>
