<div class="modal fade" id="lingoModal" tabindex="-1" role="dialog" aria-labelledby="lingoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class='row'>
          <div class='row'>
            <div class='col-md-12'>
              <h1 class='project-title'>Lingo<small><em>share your own made-up words/slang using
                <a href="http://memegenerator.net/" target='_blank'>memes</a></em></small></h1>
            </div>
          </div>
          <div class='col-md-6'>
            <img class='webapp-preview' src= <%= get_image('lingoPageView') %> >
            <div class='sample-login'></div>
          </div>
          <div class='col-md-6 list-items'>
            <div class='list-item-one'>
              <ul>
                <h2>Technology Stack</h2>
                <li><h4><em>Ruby on Rails</em><h4></li>
                <li><h4><em>jQuery</em><h4></li>
                <li><h4><em>Amazon Web Services S3</em><h4></li>
                <li><h4><em>PostgreSQL</em><h4></li>
              </ul>
            </div>
            <div class='list-item-two'>
              <ul>
                <h2>APIs Used</h2>
                <li><h4><em>Meme Generator</em><h4></li>
              </ul>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-8'>
              <h2 class='detail-item'>Biggest Achievement</h2>
              <p class='detail'>
                When generating memes (a satirical picture), making API calls based off user input and parsing the binary image data response as a readbale image on the web application.
              </p>
              <h2 class='detail-item'>Biggest Challenge</h2>
              <p class='detail'>
                Creating a join table association between the user model and group model to allow users to follow and unfollow groups.
              </p>
            </div>
            <div class='col-md-4'>
              <div class='row'>
                <form id='live-link'>
                  <button type='submit' form='live-link' formtarget='_blank' formaction='http://lingo-app.herokuapp.com/' class='btn btn-success live-link'>
                    <i class='fa fa-link'></i> Live Link
                  </button>
                </form>
                <form id='source-code'>
                  <button type='submit' form='source-code' formtarget='_blank' formaction='https://github.com/mithipati/lingo_app' class='btn btn-default source-code'>
                    <i class='fa fa-code'></i> Source Code
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
