<div class="modal fade" id="makerModal" tabindex="-1" role="dialog" aria-labelledby="makerLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class='row'>
          <div class='row'>
            <div class='col-md-12'>
              <h1 class='project-title'>Meet Your Maker<small><em>determine your life expectancy in a lighthearted manner</em></small></h1>
            </div>
          </div>
          <div class='col-md-6'>
            <img class='webapp-preview' src= <%= get_image('makerPageView') %> >
          </div>
          <div class='col-md-6 list-items'>
            <div class='list-item-one'>
              <ul>
                <h2>Technology Stack</h2>
                <li><h4><em>Sinatra</em><h4></li>
                <li><h4><em>Skrollr.js</em><h4></li>
                <li><h4><em>jQuery</em><h4></li>
              </ul>
            </div>
            <div class='list-item-two'>
              <ul>
                <h2>APIs Used</h2>
                <li><h4><em>Twitter</em><h4></li>
                <li><h4><em>Google Charts</em><h4></li>
              </ul>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-8'>
              <h2 class='detail-item'>Biggest Achievement</h2>
              <p class='detail'>
                Animating several images to appear/disappear and move relative to the scroll of the user.
              </p>
              <h2 class='detail-item'>Biggest Challenge</h2>
              <p class='detail'>
                Visualizing data on various charts to showcase the current user's statistics alongside the average male and female statistics.
              </p>
            </div>
            <div class='col-md-4'>
              <div class='row'>
                <form id='live-link'>
                  <button type='submit' form='live-link' formtarget='_blank' formaction='http://meetyourmaker.herokuapp.com/' class='btn btn-success live-link'>
                    <i class='fa fa-link'></i> Live Link
                  </button>
                </form>
                <form id='source-code'>
                  <button type='submit' form='source-code' formtarget='_blank' formaction='https://github.com/zedwarth/deathclock' class='btn btn-default source-code'>
                    <i class='fa fa-code'></i> Source Code
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
