<div class="modal fade" id="vibeModal" tabindex="-1" role="dialog" aria-labelledby="vibeLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class='row'>
          <div class='row'>
            <div class='col-md-12'>
              <h1 class='project-title'>Vibe<small><em>steaming music based on your mood</em></small></h1>
            </div>
          </div>
          <div class='col-md-6'>
            <img class='webapp-preview' src= <%= get_image('vibePageView') %> >
          </div>
          <div class='col-md-6 list-items'>
            <div class='list-item-one'>
              <ul>
                <h2>Technology Stack</h2>
                <li><h4><em>Node.js</em><h4></li>
                <li><h4><em>Angular.js</em><h4></li>
                <li><h4><em>Express.js</em><h4></li>
                <li><h4><em>MongoDB</em><h4></li>
              </ul>
            </div>
            <div class='list-item-two'>
              <ul>
                <h2>APIs Used</h2>
                <li><h4><em>SoundCloud</em><h4></li>
              </ul>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-8'>
              <h2 class='detail-item'>Biggest Achievement</h2>
              <p class='detail'>
                Developing a method to adjust the user's playlist over time due to likes, skips, and similar artists/genres.
              </p>
              <h2 class='detail-item'>Biggest Challenge</h2>
              <p class='detail'>
                Creating directives and using ngAnimate to produce animations throughout the DOM without the use of jQuery.
              </p>
            </div>
            <div class='col-md-4'>
              <div class='row'>
                <form id='live-link'>
                  <button type='submit' form='live-link' formtarget='_blank' formaction='http://vibeapp.us' class='btn btn-success live-link'>
                    <i class='fa fa-link'></i> Live Link
                  </button>
                </form>
                <form id='source-code'>
                  <button type='submit' form='source-code' formtarget='_blank' formaction='https://github.com/malls/vibe' class='btn btn-default source-code'>
                    <i class='fa fa-code'></i> Source Code
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
