<div class="modal fade" id="vibeModal" tabindex="-1" role="dialog" aria-labelledby="vibeLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- <div class="modal-header">
      </div> -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class='row'>
          <div class='row'>
            <div class='col-md-12'>
              <h1 class='project-title'>Vibe<small><em>steaming music based on your mood</em></small></h1>
            </div>
          </div>
          <div class='col-md-6'>
            <img class='webapp-preview' src="http://placehold.it/500x300">
          </div>
          <div class='col-md-6'>
            <div class='list-item-one'>
              <ul>
                <h2>Technology Stack</h2>
                <li><h4><em>Node.js</em><h4></li>
              </ul>
            </div>
            <div class='list-item-two'>
              <ul>
                <h2>APIs Used</h2>
                <li><h4><em>SoundCloud</em><h4></li>
              </ul>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-8'>
              <h2 class='detail-item'>Biggest Acheivement</h2>
              <p class='detail'>Creating directives and using ngAnimate to produce animations without jQuery.</p>
              <h2 class='detail-item'>Biggest Challenge</h2>
              <p class='detail'>Developing a method to adjust the user's playlist over time.</p>
            </div>
            <div class='col-md-4'>
              <div class='row'>
                  <button type='button' class='btn btn-default live-link'>Live Link</button>
                  <button type='button' class='btn btn-default source-code'>Source Code</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
