<footer>
  <ul class='footer_links'>
    <li class='social_link'><a href="https://github.com/mithipati" target="_blank">
      <i class='fa fa-github'></i>
      </a>
    </li>
    <li class='social_link'><a href="https://twitter.com/mithipati" target="_blank">
      <i class='fa fa-twitter'></i>
      </a>
    </li>
    <li class='social_link'><a href="http://mithipati.wordpress.com/" target="_blank">
      <i class='fa fa-wordpress'></i><small>blog</small>
      </a>
    </li>
  </ul>
</footer>
