<footer>
  <ul class='footer_links'>
    <li class='social_link'><a href="#">GitHub</a></li>
    <li class='social_link'><a href="#">@mithipati</a></li>
    <li class='social_link'><a href="#">Blog</a></li>
  </ul>
</footer>
